@font-face {
  font-family: "Elice Digital Baeum";
  src: url(EliceDigitalBaeum_Bold.ttf) format("truetype");
}

* {
  font-family: "Elice Digital Baeum", "Jua", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  background: #000;
}

::-webkit-scrollbar {
  width: 0;
}

#button {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#next-button {
  padding-left: 10px;
}
#blank {
  margin-bottom: 20px;
}
#back-button:hover {
  transform: scale(1.2);
}
#next-button:hover {
  transform: scale(1.2);
}

.bubble {
  color: black;
  font-size: 15px;
}

#emo-com {
  display: block;
  z-index: -1;
  width: 250px;
  position: relative;
  left: 500px;
  bottom: 150px;
}

#name {
  background: linear-gradient(to top, #dac4ff 40%, transparent 40%);
}

#emo-fes {
  display: block;
  z-index: -1;
  width: 250px;
  position: relative;
  right: 300px;
  bottom: 150px;
}

#music,
#music- {
  background: linear-gradient(to top, #c0ffa1 40%, transparent 40%);
}

#yosum-ply {
  font-style: italic;
  /* background: linear-gradient(to top, #c0ffa1 40%, transparent 40%); */
}

#emo-good {
  display: block;
  z-index: -1;
  width: 250px;
  position: relative;
  right: 270px;
  bottom: 150px;
}

#jokebear {
  display: block;
  z-index: -1;
  width: 250px;
  position: relative;
  left: 350px;
  bottom: 450px;
  opacity: 50%;
}

#mbti {
  background: linear-gradient(to top, #fce959 40%, transparent 40%);
}

#emo-heart {
  display: block;
  z-index: -1;
  width: 250px;
  position: relative;
  left: 500px;
  bottom: 150px;
}

.pull {
  position: relative;
  margin: 30px;
  padding: 20px;
  width: 450px;
  height: 28px;
  color: #fff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.pull:after {
  content: "";
  position: absolute;
  top: 21px;
  right: -30px;
  border-left: 30px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.pull-2 {
  position: relative;
  margin: 30px;
  padding: 20px;
  width: 450px;
  height: 72px;
  color: #fff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.pull-2:after {
  content: "";
  position: absolute;
  top: 40px;
  left: -30px;
  border-right: 30px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.pull-3 {
  position: relative;
  margin: 50px 30px 30px 30px;
  padding: 20px;
  width: 450px;
  height: 72px;
  color: #fff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.pull-3:after {
  content: "";
  position: absolute;
  top: 40px;
  left: -30px;
  border-right: 30px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
