.player__img img {
  width: 100%;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__img {
  width: 3.22em;
  height: 3.22em;
  border-radius: 1.32em;
}

.player__title {
  font-size: 0.8em;
  font-weight: bold;
  color: #35353586;
}

.player__playlist {
  height: 250px;
  overflow: auto;
  padding: 1.05em 0.9em 0 1.2em;
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}

.player__playlist::-webkit-scrollbar {
  width: 0;
}

.player__song {
  /*     gap: 0 .65em ; */
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding-bottom: 0.7em;
  border-bottom: 0.1em solid #5d5d5d59;
}

.player__song .player__context {
  line-height: 1.5;
  margin-left: 0.65em;
}

.player__song-name {
  font-size: 0.9em;
  color: #00000086;
}
